.loan {
	width: 100%;
	max-width: 500px;
	margin: auto;
	form {
		padding: 15px;
		.field, .row {
			width: 100%;
		}
		.row {
			display: flex;
			justify-content: flex-end;
		}
		button {
			
		}
	}
	.loan-success, .loan-fail {
		.button-container {
			display: flex;
			justify-content: center;
		}
	}
}